version: '3.9'

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    networks:
      - mern-network
    healthcheck:
      test: >
        sh -c "mongo --eval 'db.adminCommand(\"ping\")' || exit 1"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s



  backend:
    build:
       context: .
       dockerfile: ./backend/Dockerfile
    
    
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
     - ./.env
    networks:
      - mern-network
    volumes:
      - ./uploads:/app/uploads 

      


  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BASE_URL=http://localhost:5000
    networks:
      - mern-network


networks:
  mern-network:
   
    name: newest




    
